<div id="liste-infirmiere">
    <h2>Liste des infirmières :</h2>

    <div *ngFor="let infirmiere of infirmieres">

        <h3>Infirmière n°{{infirmiere.id}}</h3>
        N° pro : {{infirmiere.numeroProfessionnel}} <br/>
        Nom : {{infirmiere.nom}} <br/>
        Prenom : {{infirmiere.prenom}} <br/>
        Téléphone pro : {{infirmiere.telPro}} <br/>
        Téléphone perso : {{infirmiere.telPerso}} <br/>
        Adresse : {{infirmiere.adresse}} <br/>
        Patients : {{infirmiere.patients}} <br/>
    </div>

</div>